#day-filters-wrp, #month-filters-wrp {
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 10px 0;
    position: relative;
}

#day-filters-wrp span {
    font-size: 16px;
    font-weight: bold;
}

#day-filters-wrp input[type="text"] {
    width: 100px;
}

.statistics-filters-submit{
    padding: 4px 10px 4px 10px;
}

#day-filters-wrp form, #month-filters-wrp form {
    position: absolute;
    right: 0;
    top: 9px;
}

#statistics-day-wrp table a {
    color: #0000FF;
    text-decoration: none;
}

#statistics-day-wrp table a:hover {
    text-decoration: underline;
}

