* {margin: 0; padding: 0;}

#container {
	width: 1000px;
	border-top: none;
	margin: 0 auto;
	height: 500px;
	border: 1px solid #ebebeb;
	border-top: none;
}

.center {
	text-align: center;
}

.left {
	text-align: left;
}

.bg-green {
	background: green;
}

/*message*/
.message-wrp {
    margin: 10px 0;
}

.message {
    color: #fff;
    padding: 4px 8px;
    font-weight: bold;
}

.message-error {
    background: #901830;
}

.message-success {
    background: green;
}




	
	

